services:
  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"
    volumes:
      - redis-data:/data
    restart: unless-stopped


  eum-app:
    image: chaeeunm/eum:latest  # ← Docker Hub에서 다운로드
    container_name: eum-app
    ports:
      - "8080:8080"
    environment:
      SPRING_PROFILES_ACTIVE: dev
      SPRING_DATA_REDIS_HOST: redis
      SPRING_DATA_REDIS_PORT: "6379"
      JWT_SECRET: ${JWT_SECRET}
    depends_on:
      - redis
    restart: unless-stopped

volumes:
  redis-data: