spring:
  config:
    activate:
      on-profile: dev

  #  datasource:
  #    url: jdbc:h2:mem:eum
  #    driver-class-name: org.h2.Driver
  #    username: sa
  #    password:

  datasource:
    url: jdbc:postgresql://144.24.87.96:5432/eum
    username: ${DB_USER}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
        use_sql_comments: true

  data:
    redis:
      host: ${REDIS_HOST:localhost}
      port: ${REDIS_PORT:6379}
