spring:
  config:
    activate:
      on-profile: local

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true  # SQL 포맷팅
        use_sql_comments: true  # 어떤 엔티티 쿼리인지 주석 추가
        highlight_sql: true  # SQL 색상 하이라이트 (콘솔)
    #        generate_statistics: true  # @CustomLog에서 통계 사용
    show-sql: false

  datasource:
    url: jdbc:h2:mem:eum
    driver-class-name: org.h2.Driver
    username: sa
    password:

  h2:
    console:
      enabled: true
      path: /h2-console

  data:
    redis:
      host: localhost
      port: 6379