spring:
  config:
    activate:
      on-profile: dev

  datasource:
    url: jdbc:h2:mem:eum
    driver-class-name: org.h2.Driver
    username: sa
    password:

  data:
    redis:
      host: ${REDIS_HOST:localhost}
      port: ${REDIS_PORT:6379}
