spring:
  application:
    name: eum
  profiles:
    active: dev

  datasource:
    url: jdbc:h2:mem:eum
    driver-class-name: org.h2.Driver
    username: sa
    password:

  jpa:
    hibernate:
      ddl-auto: create
    show-sql: true

  h2:
    console:
      enabled: true
      path: /h2-console

jwt:
  secret: aaaaaaaabbbbbbbbcccccccctesttest
  access-expiration: 1800000      # 30분
  refresh-expiration: 1209600000  # 14일