<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head}">
    <title>Eum</title>
</head>
<body>
    <div id="app">
        <!-- Pages -->
        <th:block th:replace="~{fragments/pages/landing :: landing}" />
        <th:block th:replace="~{fragments/pages/main :: main}" />
        <th:block th:replace="~{fragments/pages/detail :: detail}" />
        <th:block th:replace="~{fragments/pages/realtime :: realtime}" />
        <th:block th:replace="~{fragments/pages/create :: create}" />
    </div>

    <!-- Modals -->
    <th:block th:replace="~{fragments/modals/login :: login}" />
    <th:block th:replace="~{fragments/modals/signup :: signup}" />
    <th:block th:replace="~{fragments/modals/add-member :: add-member}" />
    <th:block th:replace="~{fragments/modals/invite-confirm :: invite-confirm}" />
    <th:block th:replace="~{fragments/modals/transport :: transport}" />

    <!-- Toast -->
    <th:block th:replace="~{fragments/components/toast :: toast}" />

    <script type="module" src="/js/app.js"></script>
</body>
</html>